<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body style="background-size: auto;">
	<form action="" method="">
		<fieldset>
		
			<table border="5" " width="100%" align="center">
				<tr align="center">
					<td width="100px">
						<img src="../elements/ElectronicsShop.jpg" width="100px" height="100px">
					</td>
					
					<td colspan="0" height="80px" align="right">
					
						<div align="left"> 
							<h1> Electronics Shop <h1>
							
						</div>
						<div align="right"> 
							<h2><a href="login.php">  Login </a> |
							<a href="signup.html"> Signup </a> |
							<a href="AboutUs.html"> About Us </a> 
							
							
						</div>
					</td>
				</tr>
				<tr align="left" height="500px" width="1000px">
					<td>
						<div class="menu">
							<a href="#"><h4>Television</h4></a> 
							<a href="#"><h4>Mobile</h4></a> 
							<a href="#"><h4>Home Appliances</h4></a> 
							<a href="#"><h4>Kitchen Appliances</h4></a> 
							<a href="#"><h4>Fan</h4></a>
							<a href="#"><h4>Camera</h4></a>
						  </div>
					</td>
					<td colspan="2"  align="center">
					<img src="../elements/cover.jpg" width="1000px" height="500px">
					
					</td>
				</tr>
			
				<tr align="center" >
					<td colspan="3" height="50px">
						Copyright@2021
					</td>
				</tr>
			</table>

		</fieldset>

		
	</form>
</body>	
</html>