<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>

	<center>
	<form action="../controller/logCheck.php" method="POST">
		<table>
			<tr>
				<td>
					<fieldset>
						<legend><h3>LOGIN</h3></legend>
						User Id<br/>
						<input type="text" name="username" value=""><br/>                               
						Password<br/>
						<input type="password" name="password" value="">
						<br /><hr/>
						<input type="submit" name="submit" value="Login">
						<a href="registration.html">Register</a>
					</fieldset>
				</td>
			</tr>                                
		</table>
	</form>
	</center>

</body>
</html>